body {
    --primary-bg: #0A0F2C;
    --radio-bg: rgb(12, 9, 112);
    --radio-bg-before: linear-gradient(rgba(0, 163, 255, 0.5) 0%, rgba(0, 163, 255, 0) 40%, rgba(0, 163, 255, 0) 76%, rgba(0, 163, 255, 0.29) 100%);
    --input-bg: rgba(150, 173, 255, 0.3);
    --form-btn: linear-gradient(90deg, #FE1B56 0%, #4957FF 100%);
    --bottom-container: linear-gradient(rgba(15, 22, 65, 0), rgba(15, 22, 65, 1), rgb(15, 22, 65, 1));
    --page-result-bg: url('assets/result-bg.jpg');
    --page-header-bg: url("assets/header-bg.jpg");
    --page-form-container: url('assets/item-bg.jpg');
    --width: max(min(100vh *390/740, 809px), 300px);
    background-color: var(--primary-bg);
    padding: 0;
    margin: 0;
}

@media screen and (max-width:609px) {
    body {
        --width: 100vw;
    }
}

.root {
    max-width: var(--width);
    height: 100vh;
    margin: auto;
    position: relative;
    overflow: auto;
}

.root::-webkit-scrollbar {
    display: none;
}

.page-bg {
    background-image: var(--page-header-bg);
    margin: 0;
    padding: 0;
    height: 90vh;
    background-size: 100% auto;
    background-repeat: no-repeat;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.page-bg2 {
    background-image: var(--page-result-bg);
    overflow: hidden;
}

.page-bg2::before {
    background-image: url('assets/icon-cloud-left.jpg');
    background-size: cover;
    top: 26.125rem;
    left: 0;
    width: 86px;
    height: 80px;
    position: absolute;
    content: '';
}

.page-bg2::after {
    background-image: url('assets/icon-cloud-right.jpg');
    background-size: cover;
    overflow: hidden;
    width: 86px;
    height: 80px;
    position: absolute;
    top: 80px;
    right: 0;
    content: '';
}

.page-broadcast {
    position: absolute;
    top: 1rem;
    left: 5%;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

marquee {
    flex: 1;
    line-height: 2rem;
    height: 2rem;
    font-size: 0.8rem;
    margin-right: .2rem;
}


.page-title {
    position: absolute;
    top: 4rem;
    z-index: 1;
    width: 100%;
}

.page-title .h3 {
    font-size: 1.75rem;
    color: white;
    line-height: 2.25rem;
}

.page-title .h4 {
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: white;
}

.radio-wrapper {
    position: relative;
    display: inline-block;
    width: 6.25rem;
    height: 2.5rem;
}

.radio-btn-wrapper {
    width: 82px;
    height: 24px;
}

.radio-wrapper input {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

.radio-wrapper.radio-btn-wrapper {
    width: 43px;
    height: 24px;
}

.radio-btn-container {
    color: white;
    background-color: var(--radio-bg);
    border-radius: .25rem;
    border: none;
    height: 1.625rem;
    width: 5.5625rem;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: .75rem;
}


.radio-wrapper input+.form-switch {
    color: white;
    background-color: var(--input-bg);
    border-radius: .5rem;
    height: 2.5rem;
    width: 6.25rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: .75rem;
    color: rgba(255, 255, 255, 0.4)
}


.radio-wrapper input:checked+.form-switch,
.radio-wrapper input:focus+.form-switch {
    height: 2.5rem;
    width: 6.25rem;
    border: none;
    border-radius: .5rem;
    border: .5px solid rgba(255, 255, 255, 0.5);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: .75rem;
    background: var(--radio-bg);
    color: rgba(255, 255, 255, 1)
}

.radio-wrapper input:checked+.form-switch::before,
.radio-wrapper input:focus+.form-switch::before {
    content: '';
    width: 6.25rem;
    position: absolute;
    border-radius: .5rem;
    height: 2.5rem;
    background: var(--radio-bg-before);
}

.radio-wrapper input+.form-radio-btn {
    color: white;
    border: none;
    height: 1.5rem;
    width: 2.625rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: .75rem;
    background: var(--input-bg);
    color: rgba(255, 255, 255, 0.4)
}


.radio-wrapper input:checked+.form-radio-btn,
.radio-wrapper input:focus+.form-radio-btn {
    height: 1.5rem;
    width: 2.625rem;
    border: none;
    border-radius: .5rem;
    border: .5px solid rgba(255, 255, 255, 0.5);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: .75rem;
    background: var(--radio-bg);
    color: rgba(255, 255, 255, 1)
}

.radio-btn-wrapper input:checked+.form-radio-btn,
.radio-btn-wrapper input:focus+.form-radio-btn {
    border: none;
    border-radius: .25rem;
    background: var(--primary-bg);
}

.form-container {
    box-sizing: border-box;
    margin-top: 10rem;
    overflow: hidden;
    width: 90%;
    height: max-content;
    padding: 2rem 1.375rem 2rem 1.375rem;
    transform: translateX(5%);
    background-image: var(--page-form-container);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: .5rem;
}

.form-container label,
.form-container input[type="text"],
.form-container .form-item {
    color: white;
    display: block;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375rem;
    margin-bottom: .75rem;
}

.form-container input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.4);
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.form-container input[type="text"].danger::placeholder {
    color: #FF3567;
}

.form-container>label:first-of-type {
    margin-top: 1rem;
}

.form-container input[type="text"] {
    outline: none;
    color: white;
    background-color: var(--input-bg);

    border-radius: .5rem;
    border: none;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    padding-left: .875rem;
    box-sizing: border-box;
}

.form-container input[type="radio"] {
    outline: none;
    appearance: none;
    margin: 0;
}

.form-agreement label {
    font-size: .75rem;
    line-height: 1.125rem;
    color: rgba(255, 255, 255, 0.6);

}

.result-container {
    box-sizing: border-box;
    background-image: linear-gradient(145deg, rgba(87, 41, 116, .7) -2.871%, rgba(49, 30, 105, .7) 18.206%, rgba(54, 62, 163, .7) 90.472%, rgba(64, 72, 177, .7) 101.326%);
    width: 90%;
    margin-left: 5%;
    margin-top: 8rem;
    border-radius: .5rem;
    padding: 1rem;
}

.result-base {
    font-size: 1.25rem;
    line-height: 1.875rem;
    text-align: center;
    margin-top: .5rem;
}

.result-base-image {
    height: 1.625rem;
    width: 8rem;
    margin: 0.3125rem auto;
    background-image: url('assets/result-base.svg');
}

.result-base-info {
    font-size: .875rem;
    margin: 0;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
}

.result-group {
    width: 10.125rem;
    height: 1.625rem;
    background-image: url(assets/result-five.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 2rem auto 1rem;
    color: white;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.625rem;
}

.result-normal-container {
    box-sizing: border-box;
    background-color: rgba(37, 34, 109, .7);
    min-height: 5rem;
    width: 90%;
    margin: auto;
    border-radius: .5rem;
    padding: 1rem;
}

.result-title-icon {
    background-image: url('assets/icon-fire.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    height: 3rem;
    width: 3rem;
}

.result-title-other {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    text-align: left;
    text-transform: capitalize;
    margin-left: 5%;
    margin-top: 2.25rem;
    margin-bottom: 1.5rem;
}

.result-other-container {
    width: 90%;
    height: 4.5rem;
    margin: 20px auto;
    display: flex;
    align-items: center;
}

.result-other-icon {
    border-radius: 8px;
    width: 4.5rem;
    height: 4.5rem;
    background: rgb(255, 255, 255);
}

.result-other-content {
    flex: 1;
    margin-left: 0.75rem;
}

.result-other-des1 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.result-other-des2 {
    color: rgba(255, 255, 255, 0.7);
    margin-top: 0.5rem;
    font-size: 14px;
    line-height: 20px;
}

.result-other-jump {
    width: 5rem;
    height: 2rem;
    box-sizing: border-box;
    border: 0.5px solid rgba(255, 255, 255, 0.6);
    border-radius: 28px;
    text-align: center;
    color: white;
    font-size: 0.875rem;
    line-height: 2rem;
    backdrop-filter: blur(10.4px);
}

.float-btn {
    position: absolute;
    z-index: 11;
    width: max-content;
    padding-right: 0.625rem;
    height: 32px;
    left: 16px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 85vh;
    border-radius: 28px;
    backdrop-filter: blur(10.4px);
    background: rgba(255, 255, 255, 0.2);
}

.float-btn-icon {
    width: 24px;
    height: 24px;
    background-size: cover;
    background-image: url(assets/icon-back.svg);

}

.fire {
    background-image: url('assets/icon-fire.jpg');
}

.wood {
    background-image: url('assets/icon-wood.jpg');
}

.water {
    background-image: url('assets/icon-water.jpg');
}

.gold {
    background-image: url('assets/icon-gold.jpg');
}

.mud {
    background-image: url('assets/icon-mud.jpg');
}

.result-title-bg {
    background-image: url('assets/result-tilte-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 8rem;
    height: 1.625rem;
    color: rgba(255, 255, 255, .9);
    font-size: .875rem;
    line-height: 1.625rem;
    text-align: center;
    margin: 1rem auto;
}

.result-label {
    line-height: 2.25rem;
    font-size: .875rem;
    background-color: rgba(150, 173, 255, .5);
    margin: .5rem 0;
    width: max-content;
    border-radius: .5rem;
    padding: 0 .5rem;
    color: white;
}


.form-title {
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
}

.form-btn {
    height: 3rem;
    width: 14.625rem;
    background: var(--form-btn);
    border-radius: 1rem;
    line-height: 3rem;
    text-align: center;
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 4.5rem auto 1rem auto;
}

.form-btn::before {
    content: '';
    position: absolute;
    display: block;
    height: 3rem;
    width: 14.625rem;
    border-radius: 1rem;
    background: linear-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 37%, rgba(255, 255, 255, 0) 79%, rgba(255, 255, 255, 0.24) 100%);

}

.icp {
    width: 100%;
    color: rgba(255, 255, 255, 0.3);
    font-size: .75rem;
    line-height: 1rem;
    text-align: center;
    margin: 2rem auto;
}

.bottom-btn-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 12.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--bottom-container);
}

.bottom-btn {
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: #68a49c; */
    gap: 0;
}

.reminder {
    margin: 1rem;
    color: rgba(255, 255, 255, 0.6);
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.tab-container {
    margin: 1rem;
    padding: .75rem;
    border-radius: 10.38px;
    background: linear-gradient(157.94deg, rgb(81, 40, 148) 1.8%, rgb(74, 31, 105) 13.947%, rgb(74, 31, 105) 61.874%, rgb(74, 31, 105) 68.859%);
}

.tab-container .tab-item-title {
    display: flex;
    height: 20px;
    align-items: center;
    color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 0.75rem;
}

.tab-container .tab-item-title .tab-icon {
    background-image: url(assets/icon-stars.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-right: .25rem;
}

.tab-container .tab-item-title .tab-icon2 {
    background-position: -25px 0;
    background-size: cover;
}

.tab-container .tab-item-title .tab-icon3 {
    background-position: -50px 0;
    background-size: cover;
}

.tab-container .tab-content {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255, 255, 255, .9)
}

/* 容器属性类 */
.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-between {
    justify-content: space-between;
    align-items: center;
}

/* 项目属性类 */
.flex-grow-1 {
    flex-grow: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-basis-50 {
    flex-basis: 50%;
}

.align-self-start {
    align-self: flex-start;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-center {
    align-self: center;
}

/* 字体和文本相关 */
.text-12px {
    font-size: 12px;
}

.text-14px {
    font-size: 14px;
}

.text-16px {
    font-size: 16px;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.pd-h-20 {
    padding: 0 20px;
}

.pd-l-5 {
    padding-left: 5%;
}